.sharing-buttons {
    margin: 8px 0;
    margin-left: 0;
}

#reconnect-group {
    margin: 16px 0;
}

#try-reconnect {
    background-color: #FCC419;
}
#fail-reconnect {
    background-color: #C92A2A;
}

.notify {
    display: flex !important;
    padding: 8px 16px;
    border-radius: 4px;
    position: fixed;
    width: 200px;
    bottom: 16px;
    right: 16px;
    opacity: 1;
    transition: opacity 0.25s ease-out;
}
.notify[hidden] {
    opacity: 0;
}

